numpy
pandas
scikit-learn
matplotlib
joblib
sastrawi
transformers
fastapi
faiss-cpu
tensorflow
torch
pydantic
typing
onnxruntime
# Core Framework
flask
# Opsional untuk deployment (Best Practice)
gunicorn